standalone.idb/configuration/logging.properties
standalone.idb/configuration/standalone_xml_history/
standalone.idb/data/
standalone.idb/deployments/
standalone.idb/log/
standalone.idb/tmp/

standalone.app/configuration/logging.properties
standalone.app/configuration/standalone_xml_history/
standalone.app/data/
standalone.app/deployments/
standalone.app/log/
standalone.app/tmp/

app-jee-jsp/target/

standalone.idp/configuration/logging.properties
standalone.idp/configuration/standalone_xml_history/
standalone.idp/data/
standalone.idp/deployments/
standalone.idp/log/
standalone.idp/tmp/

standalone.svc/configuration/logging.properties
standalone.svc/configuration/standalone_xml_history/
standalone.svc/data/
standalone.svc/deployments/
standalone.svc/log/
standalone.svc/tmp/

service-jee-jaxrs/target/